@keyframes mdl-slideIn {
	from {
		transform:translateY(300px);
		opacity:0
	}
	to {
		transform:none;
		opacity:1
	}
}

@keyframes outYouGo {
	from {
		bottom:0;
		opacity:1
	}
	to {
		bottom:-300px;
		opacity:0
		height: 0% !important;
	}
}

@keyframes fayded {
	from {
		opacity:0
	}
	to {
		opacity:1
	}
}

@keyframes faydeaway {
	from {
		opacity:1
	}
	to {
		opacity:0
	}
}

@keyframes gtfo{
	from {
		transform:none;
	}
	to {

		transform:translateX(-250px);
	}	
}

@keyframes combk{
	from {
		transform:translateX(-250px);
		
	}
	to {
		transform:none;
	}	
}

@keyframes comhr{
	from {
		
		transform:translateX(250px);
		
	}
	to {

		transform:none;
	}	
}

@keyframes byebye{
	from {
		transform:none;
	}
	to {

		transform:translateX(250px);
	}	
}

.playgr {
	animation: comhr 0.5s;
	height: calc(100% - 30px);
	width: 100%;
	display:none;
	position: absolute;
	top: 0;
}

.kanaklas {
position: absolute;
top: 60px;
font-size: 80px;
font-weight: 300;
text-align: center;
width: 100%;
}

#datonebox::placeholder {
	color: grey;

}

input { 
    text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}

#datonebox {
	
background-color: rgba(0,0,0,0);
border: none;
margin-right: 15px;
margin-left: 15px;
text-align: center;
width: 210px;
height: 36px;
font-size: 24px;
font-weight: 300;
outline: none;
box-sizing: border-box;
position: absolute;
display: block;
bottom: 34px;
color: white;
	text-transform: lowercase;
}



.main {
	top: 0;
	position: absolute;
}

.bai {
	animation: byebye 0.5s;
	overflow:hidden !important;
}

.cmbk {
	animation: combk 0.5s;
	overflow:hidden !important;
}

.gtfaway {
	animation: gtfo 0.5s;
	transition: all ease 0.5s;
}


.blok {
	height: 100%;
	width: 100%;
	background-color: rgb(22,22,22);
	color: rgb(22,22,22);
	display: none;
	position: absolute;
	top: 0;
	overflow: hidden;
	animation: fayded 0.5s;
	
}

.goaway {
	animation:outYouGo 0.8s !important;
	height: 0% !important;
	transition: all ease 0.5s;
}

.plspick {
	color: black !important;
	background-color: rgba(255,255,255,0.6) !important;
}

html {
	scroll-behavior: auto !important;

}

.statusbar {
	background-color: grey;
    height: 26px;
}

h1, h2, h3, h4, h5, ul, p {
    margin: 0px;
    padding: 0;
}

.hiragana, .katakana, .licenso  {
	animation:mdl-slideIn 0.2s;
	display: none;
	background-color: rgb(22,22,22);
	position: fixed;
	height: 99%;
	bottom:0;
	width: 100%;
}

#kopi {
	background-color: white;
	color: black;
	overflow: auto;
	height: 215px;
	padding: 8px;
}
.main_item {
	margin-left:35px !important;
	
}

.main_box, .main_box + img {
	left: 10px !important;
}


.softkey img {
	width: auto;
height: 17px;
}


/* credit: https://github.com/canicjusz/KaiOS-native-UI/ */

:root {
    font-family: "Fira Sans", sans-serif;
	color: white;

    /* you can edit these variables */

    /* change to 'none', if there are problems with capitalization */
    --capitalization: none;

    /* change to 'auto', if you want scrolling */
    --content-overflow: auto;
	transition: all ease 2s;
    --app-background: #161616;

    --header-background: #333333;
    --header-color: #ffffff;

    --softkeys-background: #000000;
    --softkeys-color: #ffffff;

    --item-background: #161616;
    --item-text-color: #f0f0e1;
    --item-subtext-color: #dddddd;

    --item-focused-background: #f34137;
    --item-focused-text-color: #ffffff;
    --item-focused-subtext-color: #ffffff;

    --arrow-color: #000000;

    --button-background: #333333;
    --button-color: #ffffff;

    --button-background-focused: #f34137;
    --button-color-focused: #ffffff;

    --textarea-height: 50px;

    --slider-color: #AAAAAA;
    --slider-color-selected: #873EFF;

    --slider-focused-color: #AAAAAA;
    --slider-focused-selected: #ffffff;

    --progress-color: #AAAAAA;
    --progress-color-selected: #873EFF;

    --progress-focused-color: #AAAAAA;
    --progress-focused-selected: #ffffff;

    --separator-background: #333333;
    --separator-color: #ffffff;
}

/* change this to any class your spatial navigation library uses. .dpad-navigation for gauntface/dpad-navigation,.navigable for amanboss9/naviboard.*/
.focusable:focus {
    outline: none;
}

/* color when not focused */

.slider-container, .list-item-indicator, .list-item, .checkbox-container, .radio-container, .button-container, .input-container, .textarea-container, .progress-container {
    background: var(--item-background);
}

.slider-container__text, .list-item-indicator__text, .list-item__text, .checkbox-container__text, .radio-container__text, .progress-container__label {
    color: var(--item-text-color);
}

.slider-container__subtext, .list-item-indicator__subtext, .list-item__subtext, .checkbox-container__subtext, .radio-container__subtext, .input-container__label, .textarea-container__label {
    color: var(--item-subtext-color);
}

/* color when focused */

.selected, .list-item:focus , .list-item-indicator:focus, .progress-container:focus {
    background: var(--item-focused-background);
}

.progress-container:focus > .progress-container__label, .selected > .slider-container__text, .list-item-indicator:focus > .list-item-indicator__text, .list-item:focus > .list-item__text, .selected > .checkbox-container__text, .selected > .radio-container__text {
    color: var(--item-focused-text-color);
}

.selected > .slider-container__subtext, .list-item-indicator:focus > .list-item-indicator__subtext, .list-item:focus > .list-item__subtext, .selected > .checkbox-container__subtext, .selected > .radio-container__subtext, .selected > .input-container__label, .selected > .textarea-container__label {
    color: var(--item-focused-subtext-color);
}

html, body {
	background:rgb(22,22,22);
    height: 100%;
    width: 100%;
    padding: 0;
	margin: 0px;
	overflow:hidden !important;
}

#app {
    background: var(--app-background);
    width: 100%;
    height: 100%;
}

#content {
    overflow: var(--content-overflow);
    width: 100%;
    height: calc(100% - 58px)
}

.options {
	overflow: var(--content-overflow);
    width: 100%;
   height: calc(100% - 58px)
}

.lazyloaded {
	position: fixed;
	top:0;
	
}
/* Header */

#header {
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    height: 28px;
    padding: 0 1px 0 1px;
    background: var(--header-background);
    color: var(--header-color);
    font-size: 17px;
    font-weight: 400;
    text-transform: var(--capitalization);
}

/* List item */

.list-item {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-item__text {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    margin: 0px;
}

.list-item__text::first-letter {
    text-transform: var(--capitalization);
}

.list-item__subtext {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.list-item__subtext::first-letter {
    text-transform: var(--capitalization);
}

/* List item with an indicator */

.list-item-indicator {
    position: relative;
    box-sizing: border-box;
    padding: 10px 30px 10px 10px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-item-indicator__text {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    margin: 0px;
}

.list-item-indicator__text::first-letter {
    text-transform: var(--capitalization);
}

.list-item-indicator__subtext {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.list-item-indicator__subtext::first-letter {
    text-transform: var(--capitalization);
}

.list-item-indicator__indicator {
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
    border: solid var(--item-subtext-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(-45deg) translateY(-50%);
    top:50%;
}

.list-item-indicator:focus > .list-item-indicator__indicator {
    border-color: var(--item-focused-subtext-color);
}

/* Separator */

.separator {
    vertical-align: middle;
    line-height: 24px;
    height: 24px;
    padding: 0 10px 0 1px;
    font-size: 14px;
    font-weight: 400;
    background: var(--separator-background);
    color: var(--separator-color);
    text-transform: var(--capitalization);
}

/* List item with radio */

.radio-container {
    position: relative;
    box-sizing: border-box;
    padding: 10px 30px 10px 10px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radio-container__text {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    margin: 0px;
}

.radio-container__text::first-letter {
    text-transform: var(--capitalization);
}

.radio-container__subtext {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.radio-container__subtext::first-letter {
    text-transform: var(--capitalization);
}

.radio-container__radio {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 5px;
    top:50%;
    transform: translateY(-50%);
    border-width: 0 2px 2px 0;
    display: inline-block;
}

/* List item with checkbox */

.checkbox-container {
    position: relative;
    box-sizing: border-box;
    padding: 10px 30px 10px 10px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-container__text {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    margin: 0px;
}

.checkbox-container__text::first-letter {
    text-transform: var(--capitalization);
}

.checkbox-container__subtext {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.checkbox-container__subtext::first-letter {
    text-transform: var(--capitalization);
}

input[type="checkbox"] {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  top:50%;
  right: 10px;
  transition: background 250ms;
  position: absolute;
  display: inline-block;
  opacity:0;
  z-index: 2;
}

.checkbox_wrapper{
	position: relative;
	height: 16px;
    width: 17px;
}


input[type="checkbox"] + img{
  background-image: url(../img/unchecked.png);
  box-sizing: border-box;
  height: 25px;
  width: 25px;
  top:50%;
  right: 10px;
  transform: translateY(-50%);
  position: absolute;
  display: inline-block;
	background-repeat: no-repeat;
background-size: cover;
}

input[type="checkbox"]:checked + img{
  background-image: url(../img/checked.png);
  box-sizing: border-box;
  height: 25px;
  width: 25px;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
background-size: cover;
}


/* List item with progress bar */

.progress-container {
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
}

.progress-container__label {
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    margin: 0px;
    display: block;
}

.progress-container__label::first-letter {
    text-transform: var(--capitalization);
}

.progress-container__progress {
  -webkit-appearance: none;
  margin: 10px 0 0 0;
  height: 5px;
  border: none;
  border-radius: 5px;
  width: 100%;
  grid-area: slider;
  background: var(--progress-color);
}

.progress-container__progress::-moz-progress-bar {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--progress-color-selected);
    border-right: 3px solid var(--item-background);
    height: 5px;
}

.progress-container:focus > .progress-container__progress {
    background: var(--progress-focused-color);
}

.progress-container:focus > .progress-container__progress::-moz-progress-bar {
    background: var(--progress-focused-selected);
    border-right-color: var(--item-focused-background);
}

/* List item with slider */

.slider-container {
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
    display: grid;
    grid-template-areas:
        "text text subtext"
        "slider slider slider"
    ;
}

.slider-container__slider {
  -webkit-appearance: none;
  margin: 10px 0 0 0;
  height: 5px;
  border-radius: 5px;
  width: 100%;
  grid-area: slider;
  background: var(--slider-color);
}

.slider-container__text {
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    margin: 0px;
    display: block;
    grid-area: text;
}

.slider-container__text::first-letter {
    text-transform: var(--capitalization);
}

.slider-container__subtext {
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: subtext;
}

.slider-container__slider::-moz-range-thumb {
    outline: none;
    width: 15px;
    height: 15px;
    border: 3px solid var(--item-background);
    border-radius: 50%;
    background: var(--slider-color-selected);
}

/* i have no idea how to remove this outline */
.slider-container__slider::-moz-range-track, .slider-container__slider::-webkit-slider-runnable-track{
    outline: none;
}

.slider-container__slider::-moz-range-progress {
    background: var(--slider-color-selected);
    height: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container__slider:focus::-moz-range-thumb {
    border: 3px solid var(--item-focused-background);
    background: var(--slider-focused-selected);
}

.slider-container__slider:focus::-moz-range-progress {
    background: var(--slider-focused-selected);
}

/* Button */

.button-container {
    padding: 0 10px 10px 10px;
}

.button-container__button {
    display: inline-block;
    box-sizing: border-box;
    width: 220px;
    height: 36px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 400;
	border-radius: 8px;
    background: var(--button-background);
    color: var(--button-color);
    text-transform: var(--capitalization);
	margin-right: 10px;
    margin-left: 10px;
}

.button-container__button:focus {
    background: var(--button-background-focused);
    color: var(--button-color-focused);
	box-shadow: 0px 0px 0px 4px rgba(222,222,222,0.2);
}


/* Input */

.input-container, .textarea-container {
    padding: 10px;
}

.input-container__input, .textarea-container__textarea {
    padding: 0 3px 0 3px;
    margin-top: 5px;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    box-sizing: border-box;
    display: block;
}

.input-container__input {
    height: 36px;
}

.textarea-container__textarea {
    height: var(--textarea-height);
}

.input-container__label, .textarea-container__label {
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-transform: var(--capitalization);
}

/* Software Keys */

.softkeys, .softkeys-icon {
	position: fixed;
	bottom: 0;
    box-sizing: border-box;
    padding: 5px;
    column-gap: 5px;
    /* grid-gap is an old way of saying column-gap */
    grid-gap: 5px;
    display: grid;
    height: 30px;
    background: var(--softkeys-background);
    color: var(--softkeys-color);
	width:100%;
}

.softkey {
    overflow: hidden;
    vertical-align: middle;
    height: 20px;
}

.softkey-left {
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    text-transform: var(--capitalization);
}

.softkey-center {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.softkey-right {
    font-size: 14px;
    font-weight: 600;
    text-align: end;
    text-transform: var(--capitalization);
}

@media only screen and (orientation : portrait) {
  .softkeys {
      grid-template-columns: 72px 76px 72px;
  }
}

@media only screen and (orientation : portrait) {
  .softkeys-icon {
      grid-template-columns: 98px 24px 98px;
  }
}

@media screen and (orientation: landscape)  {
  .softkeys {
      grid-template-columns: 96px 18px 96px;
  }
}

@media screen and (orientation: landscape) {
  .softkeys-icon {
      grid-template-columns: 138px 24px 138px;
  }
}


/* special thanks to https://google-webfonts-helper.herokuapp.com/ for making my life a lot easier */

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin-300.woff2') format('woff2'); 
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin-500.woff2') format('woff2'); 
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin-600.woff2') format('woff2'); 
       url('../fonts/fira-sans-v11-latin-ext_latin-600.woff') format('woff'); 
}


@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin-700.woff2') format('woff2'); 
}


@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin-800.woff2') format('woff2'); 
}


@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin-900.woff2') format('woff2'); 
}

/* from https://github.com/nadim1992/KaiUI/blob/develop/css/kaiui.css */
/* ============== Toast ============== */
.kui-toast {
	animation: toaster 0.3s;
    height: 42px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    background-color: #323232;
	width: 100%;
	position: fixed;
	top: 0;
	display: none;
}

.kui-toast .kui-pri {
    margin: 0;
}

.kui-toast-shadow {
    height: 6px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
}

@keyframes toaster{
	from {
		transform: translateY(-50px);
	}
	to {
		transform: none;
	}
}

@keyframes gatst{
	from {
		transform: none;
		
	}
	to {
		transform: translateY(-50px);
	}
}

.byetoast {
	animation: gatst 0.5s;
}

.wrongkana {
	color: #ec1308 !important;
}

.raitkana {
	color: #18b452 !important;
}

.chart-pop {
background-color: rgb(33,33,33);
position: relative;
top: 70.5px;
width: 225px;
padding: 17px;
box-sizing: border-box;
margin: auto;
border-radius: 10px;
z-index: 6;
line-height: 25px;
font-size: 17px;
box-shadow: 0px 0px 0px 240px rgba(0,0,0,0.7);
animation: candypop ease 0.5s;
display:none;
outline: none;
}

@keyframes candypop {
	from {
		transform: scale(0.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.fadeaway {
	animation: faydeaway ease 0.3s;
}

.baiblok {
	animation: faydeaway ease 0.4s;
}